{% extends 'base_layout.html' %}
{% block body %}
<div class="jumbotron mt-3 bg-grey shadow-lg">
  <div class="jumbotron" id="#aboutus">
    <h1 class="dissplay-2"style="color:black">ชื่อ:นายจิรายุ พรศิริอนันต์</h1><br>
    <p class="lead"></p>
    <hr class="my-4">
    <p class="dissplay-2" style="color:black">61102010420</p>
    <br>
    
    <p class="dissplay-2">
      <a class="btn btn btn-danger btn-lg" href="" target="_blank" role="button">Github</a>
    </p>
    <br>
    <p class="lead"></p>
    <br>
  </div>
</div>
{% endblock %}

